.mantra {
    border: 1px solid rgba(0, 0, 0, 0.329);
    padding: 12px;
    max-width: 250px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.027) , rgba(0, 0, 0, 0.315));
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.384)
}

.selected {
    color:blue;
}